<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambio de Password</title>
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <div id="form-email">
      <div id="container">
        <h4>RECUPERACIÓN CONTRASEÑA</h4>
        <div id="cont-body">
          <input type="email" name="email" id="email" placeholder="Email" />
          <input type="button" value="Cambio" id="btn" />
        </div>
        <!-- Simula en link enviado al email -->
        <a id="link-email" href="" style="display: none">Link confirmación (email)</a>
        <p></p>
      </div>
    </div>
    <br />
  </body>
  <script src="http://localhost:5000/scripts/login.js"></script>
</html>
