<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/confirmar.css" />
    <title>Confirmar</title>
  </head>
  <body>
    <div id="form-password">
      <div id="container">
        <h4>CAMBIO DE CONTRASEÑA</h4>
        <div id="cont-body">
          <input type="password" name="pass1" id="pass1" placeholder="Nuevo Password"/>
          <input type="password" name="pass2" id="pass2" placeholder="Repetir Password"/>
          <input type="button" value="Confirmar" id="btn2" />
          <p></p>
        </div>
      </div>
    </div>
      <script src="http://localhost:5000/scripts/paginaPass.js" defer></script>
  </body>
</html>
