body {
    background-color: rgb(48, 45, 97);
}
#form-password{
    display: flex;
    justify-content: center;
}
#container {
    width: 20%;
    background-color: rgb(111, 107, 175);
    padding: 10px;
    border-radius: 10px;
}
h4 {
    color: white;
    text-align: center;
}
#cont-body {
    display       : flex;
    flex-direction: column;
}
p,a{
    margin-top: 5%;
    text-align: center;
    color:rgb(233, 173, 173)
}
a{
text-decoration: none;
}